In [4]:
!kaggle datasets download -d noaa/hurricane-database
!unzip hurricane-database.zip

hurricane-database.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  hurricane-database.zip
replace atlantic.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: ^C

In [1]:
import pandas as pd
noaa_atlantic = pd.read_csv('atlantic.csv')
noaa_pacific = pd.read_csv('pacific.csv')

In [6]:
noaa_atlantic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49105 entries, 0 to 49104
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                49105 non-null  object
 1   Name              49105 non-null  object
 2   Date              49105 non-null  int64
 3   Time              49105 non-null  int64
 4   Event             49105 non-null  object
 5   Status            49105 non-null  object
 6   Latitude          49105 non-null  object
 7   Longitude         49105 non-null  object
 8   Maximum Wind      49105 non-null  int64
 9   Minimum Pressure  49105 non-null  int64
 10  Low Wind NE       49105 non-null  int64
 11  Low Wind SE       49105 non-null  int64
 12  Low Wind SW       49105 non-null  int64
 13  Low Wind NW       49105 non-null  int64
 14  Moderate Wind NE  49105 non-null  int64
 15  Moderate Wind SE  49105 non-null  int64
 16  Moderate Wind SW  49105 non-null  int64
 17  Moderate Wind NW  49105 non-null  int64
 18  High Wind NE      49105 non-null  int64
 19  High Wind SE      49105 non-null  int64
 20  High Wind SW      49105 non-null  int64
 21  High Wind NW      49105 non-null  int64
dtypes: int64(16), object(6)
memory usage: 8.2+ MB

In [7]:
noaa_atlantic.head(10)

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
5,AL011851,UNNAMED,18510626,0,,HU,28.2N,97.0W,70,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
6,AL011851,UNNAMED,18510626,600,,TS,28.3N,97.6W,60,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
7,AL011851,UNNAMED,18510626,1200,,TS,28.4N,98.3W,60,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
8,AL011851,UNNAMED,18510626,1800,,TS,28.6N,98.9W,50,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
9,AL011851,UNNAMED,18510627,0,,TS,29.0N,99.4W,50,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [8]:
noaa_pacific.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26137 entries, 0 to 26136
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                26137 non-null  object
 1   Name              26137 non-null  object
 2   Date              26137 non-null  int64
 3   Time              26137 non-null  int64
 4   Event             26137 non-null  object
 5   Status            26137 non-null  object
 6   Latitude          26137 non-null  object
 7   Longitude         26137 non-null  object
 8   Maximum Wind      26137 non-null  int64
 9   Minimum Pressure  26137 non-null  int64
 10  Low Wind NE       26137 non-null  int64
 11  Low Wind SE       26137 non-null  int64
 12  Low Wind SW       26137 non-null  int64
 13  Low Wind NW       26137 non-null  int64
 14  Moderate Wind NE  26137 non-null  int64
 15  Moderate Wind SE  26137 non-null  int64
 16  Moderate Wind SW  26137 non-null  int64
 17  Moderate Wind NW  26137 non-null  int64
 18  High Wind NE      26137 non-null  int64
 19  High Wind SE      26137 non-null  int64
 20  High Wind SW      26137 non-null  int64
 21  High Wind NW      26137 non-null  int64
dtypes: int64(16), object(6)
memory usage: 4.4+ MB

In [2]:
noaa = pd.concat([noaa_atlantic, noaa_pacific], axis=0)
drop = noaa.iloc[:, 9:]
noaa = noaa[~(noaa[drop.columns] < -998).any(axis=1)]
noaa.head(10)

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
43104,AL012004,ALEX,20040731,1800,,TD,30.3N,78.3W,25,1010,...,0,0,0,0,0,0,0,0,0,0
43105,AL012004,ALEX,20040801,0,,TD,31.0N,78.8W,25,1009,...,0,0,0,0,0,0,0,0,0,0
43106,AL012004,ALEX,20040801,600,,TD,31.5N,79.0W,25,1009,...,0,0,0,0,0,0,0,0,0,0
43107,AL012004,ALEX,20040801,1200,,TD,31.6N,79.1W,30,1009,...,0,0,0,0,0,0,0,0,0,0
43108,AL012004,ALEX,20040801,1800,,TS,31.6N,79.2W,35,1009,...,50,0,0,0,0,0,0,0,0,0
43109,AL012004,ALEX,20040802,0,,TS,31.5N,79.3W,35,1007,...,50,0,0,0,0,0,0,0,0,0
43110,AL012004,ALEX,20040802,600,,TS,31.4N,79.4W,40,1005,...,90,0,0,0,0,0,0,0,0,0
43111,AL012004,ALEX,20040802,1200,,TS,31.3N,79.0W,50,992,...,60,20,30,30,0,0,0,0,0,0
43112,AL012004,ALEX,20040802,1800,,TS,31.8N,78.7W,50,993,...,50,30,30,30,20,20,0,0,0,0
43113,AL012004,ALEX,20040803,0,,TS,32.4N,78.2W,60,987,...,50,30,30,30,20,20,0,0,0,0

In [10]:
noaa['Time'] = pd.to_datetime(noaa['Time'])

In [3]:
# FOR LSTM

lstm_data = pd.concat([noaa_atlantic, noaa_pacific], axis=0)
drop = lstm_data.iloc[:, 9:]
lstm_data = lstm_data[~(lstm_data[drop.columns] < -998).any(axis=1)]
new_columns = [
    'ID', 'Name', 'Date', 'Time', 'Latitude', 'Longitude',
    'Maximum Wind', 'Minimum Pressure', 'Low Wind NE', 'Low Wind SE',
    'Low Wind SW', 'Low Wind NW', 'Moderate Wind NE', 'Moderate Wind SE',
    'Moderate Wind SW', 'Moderate Wind NW', 'High Wind NE', 'High Wind SE',
    'High Wind SW', 'High Wind NW'
]
lstm_data = lstm_data[new_columns]

def convert_coordinate(coord):
    if coord[-1] in ['N', 'S']:
        value = float(coord[:-1])
        return value if coord[-1] == 'N' else -value
    elif coord[-1] in ['E', 'W']:
        value = float(coord[:-1])
        return value if coord[-1] == 'E' else -value
    return float(coord)

lstm_data['Latitude'] = lstm_data['Latitude'].apply(convert_coordinate)
lstm_data['Longitude'] = lstm_data['Longitude'].apply(convert_coordinate)
lstm_data['Datetime'] = pd.to_datetime(lstm_data['Date'].astype(str) + lstm_data['Time'].astype(str).str.zfill(4), format='%Y%m%d%H%M')
lstm_data = lstm_data.sort_values(by=['ID', 'Datetime'])
lstm_data.fillna(0, inplace=True)
directory = '/Users/aidanmurphy/Downloads/lstm_data.csv'
lstm_data.to_csv(directory, index=False)